@import '../variables';

.footer {
  background-color: $deep-ocean;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.text {
  color: $concrete-grey;
  font-size: 1em;
  padding: 2px 5px;
}
