@import '../variables';

.footer {
  background-color: $deep-ocean;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}


.container {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 20px 15px;
  text-align: center;
}

.text {
  color: $light-gray;
  font-size: 1em;
  padding: 2px 5px;
}
